:host {
  display: block;
}


.ag-grid-angular{
  margin:  0 auto;
}

.go-checkout-btn{
  text-align: center;
  background-color: rgb(230, 220, 214);
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.btn-center{

  margin: 30px auto;
  display:flex;
  justify-content:center
}
