<app-nav-bar></app-nav-bar>
<p style="text-align: center;font-weight: 600; color: rgb(122, 82, 33);"> Home Page</p>
<div class="example-sidenav-content">
    <img style="width: 300px" src="../../../assets/Img/product-home1.jpg" alt="">
    <img style="width: 300px" src="../../../assets/Img/product-home2.jpg" alt="">
    <img style="width: 300px" src="../../../assets/Img/product-home3.jpg" alt="">
    <img style="width: 306px" src="../../../assets/Img/product-home5.jpg" alt="">
    <p class="go-product-btn" (click)="goProduct()" >進入商品頁<mat-icon class="arrow">arrow_right</mat-icon></p>
</div>
